#arquivos{
   
    float: left;
    width: calc(100% - 343px);
}
div.img {
    display: inline !important;
    /*margin: 5px !important;
    padding: 0px !important;
    border: 1px solid #0000ff;*/
    width: 33.33%;      
    float: left !important;
    text-align: center !important;
    /*position: absolute;*/
}
div.img img {
    display: inline !important;
    width: 100%;
   /* border: 1px solid #ffffff !important;   */
}
div.img a:hover img {
  /*  border:1px solid #0000ff !important; */
}

main
{
   /* margin-top: 64px;*/
}

mdl-layout__drawer is-visible
{
 /*   position: fixed !important;
    top: 0px !important;*/
}
